<%
  new_msg = local_assigns.fetch(:new_msg, false)
  chat = local_assigns.fetch(:chat, nil)
  if chat.present?
    path = chat_path(chat.token)
  else
    path = new_chat_path(token: recipient.token)
  end
%>

<%= link_to path, id: "recipient_#{recipient.token}", data: { turbo_frame: "chat_details", turbo_prefetch: false } do %>
  <div class="cursor-pointer p-4 border-b hover:bg-blue-50 flex items-center">
    <%= user_icon(recipient) %>
    <div class="ml-3 grow">
      <p class="text-sm font-medium text-gray-900"><%= recipient.name %></p>
      <p class="text-xs text-gray-500">@<%= recipient.nickname %></p>
    </div>
    <% if new_msg %>
      <div class="new-message-badge">
        <div class="size-4 rounded-full bg-green-600"> </div>
      </div>
    <% end %>
  </div>
<% end %>
